body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  list-style: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  display: block;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.nav ul,
.menu,
.contacts ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding: 120px 0;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}
.hero-container {
  margin-inline: auto;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 48px;
  max-width: 496px;
  margin-inline: auto;
}
.hero-btn {
  display: block;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  background-color: #ffffff;
}
.adv-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.adv-item {
  flex-basis: calc((100% - 72px) / 4);
}
.adv-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.adv-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.team-card {
  flex-basis: calc((100% - 72px) / 4);
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
  overflow: hidden;
  text-align: center;
}
.team-card img {
  display: block;
  width: 100%;
  height: auto;
}
.team-content {
  padding: 32px;
}
.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 8px;
  text-align: center;
}
.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  text-align: center;
}
.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  box-sizing: border-box;
}
.portfolio-title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}
.footer .container {
  display: block;
}
.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}
.footer-logo .logo-accent {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
}
